%table#teetimes.row= render @teetime
= link_to "View My Profile", usersteetime_path(@user), :class => "button large"
= link_to "Add Another Teetime", new_teetime_path(@user), :class => "button large"
