%div.navbar
  =link_to "Home", root_path, :class => 'navbar'
  =link_to "Add a Teetime", new_teetime_path, :class => 'navbar'
  =link_to "View All Available Teetimes", '/teetimes/all', :class => 'navbar'
  =link_to "View Your Profile", usersteetime_path(@user), :class => 'navbar'
%h1#profile_header= @user.first.name + "'s profile"
- if current_user.id == @user.first.id
  =link_to "Edit your Profile", edit_profile_path(@profile), :class => "button large profile"
%span.profile= render @profile
%span.teetimes= render @teetime
