/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation 
 /*= require foundation */


 */

 body{
background-color: #fafafa;
background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMScgaGVpZ2h0PSc5Jz4KCTxyZWN0IHg9Jy0xMCUnIHk9Jy0xMCUnIHdpZHRoPScxMjAlJyBoZWlnaHQ9JzEyMCUnIGZpbGw9JyNlZGVkZWQnLz4KCTxlbGxpcHNlIGN4PSc1MCUnIGN5PSc1MC40OCUnIHJ4PSc0MCUnIHJ5PSc0MCUnIGZpbGw9JyNlNmU2ZTYnLz4KCTxlbGxpcHNlIGN4PSc1MCUnIGN5PSc1MCUnIHJ4PSc0MCUnIHJ5PSc0MCUnIGZpbGw9JyNmYWZhZmEnLz4KPC9zdmc+');
}

 a.navbar{
  padding: 5px;
  border-right: solid lightgreen 2px;
  margin-left: 3px;
  color: white;
}

a.facebook2{
  margin-left: 21em;
  margin-right: 2em;
}

div.navbar{
  margin-top: 5px;
  margin-bottom: 2em;
  border: solid white 2px;
  padding: 10px;
  background-color: #01b016;   
}


span.icons{
  margin-left: 60%;
}

.facebook{
  margin-right:2em;
  margin-top: 2px;
}

input.maketeetime{
  margin-top: 3px;
  margin-left: auto;
  background-color: white !important;
  color: #01b016 !important;
  border-radius: 5px !important;
}

 #new_teetime{
  background-color: #01b016 ;
  padding: 1em;
  border: white solid 3px;
  border-radius: 1em;
}

 div.all{
   margin-left: 21em;
 }

div#div.row{
  text-align: center;
}

div.input.datetime.optional.teetime_date{
  text-align: center
}

div.row.teetime{
  background: ivory !important;
}

 img{
  margin-top: -1.5em;
  max-width: 100%;
  max-width: 100%;
  border-bottom: solid black 2px;
 }

 #nav {
  background-color: rgba(225,248,255, .4);
  width: 100%;
  border-bottom: solid lightgreen 2px;
  border-top: solid lightgreen 2px;
  z-index: +1;
}

#wrapper{
  position: relative;
}

#logo, #nav{
  position: absolute;
}


.header{
  text-align: center; 
}

div#tablecontainer{
  width:20em;
  margin:0 15%;
}

a.button.large.profile{
  margin-left: 27em;
}

table#teetimes{
  width:20em;
  float:left;
  display: inline;
  border: solid 2px lightgreen;
}

span.teetimes{
 position: relative;
 bottom: 16em;
 left: 35em;
}

span.profile {
  position: relative;
  top: 3em;
  left: 2em;
}

h1#profile_header{
  text-align: center
}

h3.avatar_header{
  position: relative;
  bottom:1.5em;
  width:10em;
  text-align: center;
  background-color: #01b016;
  border: solid white;
  color: white
}

a.button.tiny.remove{
  margin-right: 5px;
}

form#new_teetime{
  margin-left: 5em;
  margin-top: 1em;
  margin-right: 5em;
}

div.input.string.optional.teetime_course{
  text-align: center;
}

input#teetime_course.string.optional{
  margin: 1em;
  margin-left: 35%;
}

/*input{
  border: solid black 2px !important;
}*/

label.datetime.optional{
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px rgba(244,244,244,.3);
}

h1.view_teetime{
  text-align: center;
}

div.input.string.optional.teetime_course{
  text-align: center;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px rgba(244,244,244,.3);
}

input.maketeetime:hover{
  margin-top: 3px;
  margin-left: auto;
  background-color: #01b016 !important;
  color: white !important;
  border-radius: 5px !important;
}

label.string.optional{
  text-align: center;
  font-size: 40px;
}

label.string.optional.course{
  text-align: center;
  font-size: 40px;
  color:white;
}

input#teetime_course{
  width:30%
}

select#teetime_date_1i, select#teetime_date_2i, select#teetime_date_3i, select#teetime_date_4i, select#teetime_date_5i {
  width:15%
}

td{
  width:75%;
  text-align: center !important;
}

a.button.tiny{
  margin-top:10px
}

a.navbar-link   {
  color: #01b016 !important;
}

a#teetimes{
  margin-left: 1em;
  margin-top: .5em;
}

 #signup{
  text-align: center;
 }

.button{
  background-color: #01b016 !important; 
}

.button.alert.tiny{
  background-color: #f04124 !important; 
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #4fd03b !important; }

div.teetimes{
  display: inline;
}