/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation 
 /*= require foundation */


 */

 body{
  background-color: #e3e3e3;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+Cgk8cmVjdCB4PSctMTAlJyB5PSctMTAlJyB3aWR0aD0nMTIwJScgaGVpZ2h0PScxMjAlJyBmaWxsPScjZThlOGU4Jy8+Cgk8ZWxsaXBzZSBjeD0nNTAlJyBjeT0nNTUuNjIlJyByeD0nNDAlJyByeT0nNDAlJyBmaWxsPScjOGM4YzhjJy8+Cgk8ZWxsaXBzZSBjeD0nNTAlJyBjeT0nNTAlJyByeD0nNDAlJyByeT0nNDAlJyBmaWxsPScjZTNlM2UzJy8+Cjwvc3ZnPg==') !important;
 }

 #new_teetime{
  background-color: rgba(186,242,45, .4);
  padding: 1em;
  border: white solid 3px;
  border-radius: 1em;
}

div.input.datetime.optional.teetime_date{
  text-align: center
}

div.row.teetime{
  background: ivory !important;
}

 img{
  margin-top: -1.5em;
  max-width: 100%;
  max-width: 100%;
  border-bottom: solid black 2px;
 }

 #nav {
  position: relative;
  top: -188%;
  background-color: rgba(225,248,255, .4) ;
  width: 100%;
  border-bottom: solid lightgreen 2px;
}


.header{
  text-align: center; 
}

table#teetimes{
  width:20em
}

form#new_teetime{
  margin-left: 5em;
  margin-top: 1em;
  margin-right: 5em;
}

div.input.string.optional.teetime_course{
  text-align: center;
}

input#teetime_course.string.optional{
  margin: 1em;
  margin-left: 35%;
}

label.datetime.optional{
  text-align: center;
  color: #01b016;
  font-size: 40px;
  text-shadow: 2px 2px rgba(244,244,244,.3);
}

label.string.optional, div.input.string.optional.teetime_course{
  text-align: center;
  color: #01b016;
  font-size: 40px;
  text-shadow: 2px 2px rgba(244,244,244,.3);
}


input.maketeetime{
  margin-left: auto;
}

input#teetime_course{
  width:30%
}

select#teetime_date_1i, select#teetime_date_2i, select#teetime_date_3i, select#teetime_date_4i, select#teetime_date_5i {
  width:15%
}

td{
  width:75%;
  text-align: center !important;
}

a.button.tiny{
  margin-top:10px
}

 #signup{
  text-align: center;
 }

.button{
  background-color: #01b016 !important; 
}

button:hover, button:focus, .button:hover, .button:focus {
  background-color: #4fd03b !important; }